<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Chipmunk</title>
</head>
<body>
    <h1> Add a Chipmunk</h1>

    <form action="/chipmunk/new" method="POST">
        <p><label>Name: <input type="text" name="name"></label></p>
        <p><label>Age: <input type="age" name="age"></label></p>
        <p><label>Color: <input type="text" name="color"</label></p>
        <p><input type="submit" value="Add"></p>
    </form>
</body>
</html>