<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Chipmunk</title>
</head>
<body>
    <h1>This is the show chipmunk page</h1>
    <table border="1px">
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Color</td>
        </tr>
        <tr>
            <td><%= chipmunk.name %></td>
            <td><%= chipmunk.age %></td>
            <td><%= chipmunk.color %></td>
        </tr>
    </table>
   <a href="/">Go Back</a>

</body>
</html>