<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <h1>Counter</h1>
        <h3><%= count%> times.</h3>
        <h4>Refresh the page to increment count by 1</h4>
        
        <form action="/two" method="post"><button>Plus Two</button></form> 
        <form action="/reset" method="post"><button>Reset</button></form>
    </body>
</html>
