<html>
    <head>
        <title>Results Page</title>
    </head>

    <body>
        <h2>Submitted Information</h2>
        <p>Name: <%= results.name %></p>
        <p>Dojo Location: <%= results.location %></p>
        <p>Favorite Language: <%= results.language %></p>
        <p>Comment: <%= results.comment %></p>
        <form action="/goback" method="get"><button>Go Back</button></form>
    </body>
</html>