<html>
    <head>
        <title>Results Page</title>
    </head>

    <body>
        <h2>Submitted Information</h2>
        <p>Name: <%= result.name %></p>
        <p>Dojo Location: <%= result.location %></p>
        <p>Favorite Language: <%= result.language %></p>
        <p>Comment: <%= result.comment %></p>
        <form action="/goback" method="get"><button>Go Back</button></form>
    </body>
</html>