.flash{
    color: white;
    font-size: 18pt;
    padding: 8px;
    width: 50%;
    margin: auto;
    border: 2px solid black;
    text-align: center;
}

.red{background-color: red}
.green{background-color: green;}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}