<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app_main/css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">
                  Test App
              </a>
            </div>

            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="/signin">Sign In</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% for message in messages %}       
            {% if 'error' in message.tags %}
                <div class="alert alert-danger">{{ message }}</div>
            {% elif 'success' in message.tags %}
                <div class="alert alert-success">{{ message }}</div>
            {% endif %}
        {% endfor %}
    
        <h2>Register</h2>

        <form class="form" action="/register_process" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" name="email" class="form-control" id="email">
          </div>

          <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" class="form-control " id="first_name">
          </div>

          <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" class="form-control " id="last_name">
          </div>

          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" name="password" class="form-control" id="pwd">
          </div>


          <div class="form-group">
            <label for="confirm">Password Confirmation:</label>
            <input type="password" name="confirm" class="form-control" id="confirm">
          </div>

          <input type="submit" value="Register" id="sub" class="btn btn-success"></input>

          <h4>
             <a href="/signin">Already have an account? Sign In</a>
          </h4>


          </form>
    </div>
</body>
</html>