<!DOCTYPE html>
<html>
<head>
    <title>Add Book and Review</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app_main/style.css' %}">
</head>
<body>
    <div class="nav">
        <button><a href="/">Logout</a></button>
        <button><a href="/books">Home</a></button>
    </div>
    
    {% for message in messages %}
        {% if 'error' in message.tags %}
            <p class="error">{{ message }}</p>
        {% elif 'success' in message.tags %}
            <p class="success">{{ message }}</p>
        {% endif %}
    {% endfor %}

    <p class="heading">Add a new book title and a review</p>

    <form class="form center" action="/books/new" method="post">
        {% csrf_token %}

        <label>Book Title:</label>
        <input type="text" name="title">

        <span class="span">Author:</span>
        <label>Select Author:</label>
        <select name="selected_author">
            {% for author in authors %}
                <option>
                    {{ author.first_name }}
                    {{ author.last_name }}
                </option>
            {% endfor %}
        </select>

        <br><br>

        <span class="span">New Author:</span>
        <label>First Name:</label>
        <input type="text" name="first_name">
        <label>Last Name:</label>
        <input type="text" name="last_name">

        <span class="span">Review:</span>
        <textarea name="text" class="textarea"></textarea>

        <label>Rating:</label>
        <select id="rating" name="rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <label>stars</label>

        <input class="submit" type="submit" value="Add Book and Review">
    </form>
</body>
</html>